{% extends "wrapper.html" %}
{% load static %}
{% block content %}
<section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>
  

        
      <div class="row mt-5">
        <div class="col-md-6">
            <img src="{{product.image.url}}" alt="{{product.image.slug}}" width="300px">
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h5 class="name">
              {{product.name}}
            </h5>
            <p class="desc">
              {{product.description}}
            </p>
            <div class="options">
              <h6>
                ${{product.price}}
              </h6>
            </div>
            <button class="btn btn-warning mt-5 text-light" onclick="AddCart({{product.id}})">
              <i class="fas fa-shopping-cart"> Add to cart</i>
            </button>
            
          </div>
        </div>
      </div>
    </div>
    <h1 class="h1 m-5">Related  product</h1>
      <div class="owl-carousel product_owl-carousel mr-5 " >
        {% for product in related %}
          <div class="box m-4 mini-box">
            <div>
              <div class="img-box">
                <a href='{% url "main:detail" product.slug %}' class="text-light">
                  <img src="/media/{{product.image}}" alt="{{product.name}}">
                </a>
              </div>
              <div class="detail-box  mini-detail">
                  <a href='{% url "main:detail" product.slug %}' class="">
                  <h5 class="name">
                    {{product.name}}
                  </h5>
                  <p class="desc">
                    {{product.description}}
                  </p>
                  <h6 class="">
                    <strong>Price:</strong> ${{product.price}}
                  </h6>
                  </a>
                  <button class="btn btn-warning"  onclick=AddCart({{product.id}})>
                    <i class="fas fa-shopping-cart"> Add to cart</i>
                  </button>
                </div>
              </div>
            </div>
        {% endfor %}
        
      </div>
    </div>
  </section>
<style>

</style>
{% endblock content %}